<a href="https://colab.research.google.com/github/AMAYadav/PROJECTS-/blob/main/market_risk_01_pca.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [ ]:
# year=2022
url = "https://home.treasury.gov/resource-center/data-chart-center/interest-rates/TextView?type=daily_treasury_yield_curve&field_tdr_date_value=2022"
data= pd.read_html(url)[0]
data
# df = pd.read_csv(df, parse_dates=["date"]).set_index("date")

In [18]:
df=data[['Date', '1 Mo', '2 Mo', '3 Mo', '6 Mo', '1 Yr', '2 Yr', '3 Yr', '5 Yr','7 Yr', '10 Yr', '20 Yr', '30 Yr']].set_index('Date')
df

,1 Mo,2 Mo,3 Mo,6 Mo,1 Yr,2 Yr,3 Yr,5 Yr,7 Yr,10 Yr,20 Yr,30 Yr
Date,,,,,,,,,,,,
01/03/2022,0.05,0.06,0.08,0.22,0.40,0.78,1.04,1.37,1.55,1.63,2.05,2.01
01/04/2022,0.06,0.05,0.08,0.22,0.38,0.77,1.02,1.37,1.57,1.66,2.10,2.07
01/05/2022,0.05,0.06,0.09,0.22,0.41,0.83,1.10,1.43,1.62,1.71,2.12,2.09
01/06/2022,0.04,0.05,0.10,0.23,0.45,0.88,1.15,1.47,1.66,1.73,2.12,2.09
01/07/2022,0.05,0.05,0.10,0.24,0.43,0.87,1.17,1.50,1.69,1.76,2.15,2.11
...,...,...,...,...,...,...,...,...,...,...,...,...
12/19/2022,3.95,4.24,4.37,4.71,4.64,4.25,3.99,3.70,3.67,3.57,3.82,3.62
12/20/2022,3.89,4.23,4.35,4.70,4.64,4.25,4.03,3.79,3.78,3.69,3.94,3.74
12/21/2022,3.90,4.23,4.33,4.67,4.60,4.21,4.00,3.78,3.77,3.68,3.93,3.74
12/22/2022,3.80,4.20,4.35,4.66,4.64,4.24,4.02,3.79,3.77,3.67,3.91,3.73
12/23/2022,3.80,4.20,4.34,4.67,4.66,4.31,4.09,3.86,3.83,3.75,3.99,3.82

In [32]:

# x=features
# x2=x

# ---
# from sklearn.preprocessing import StandardScaler,MinMaxScaler


# x=MinMaxScaler().fit_transform(x)
# x=pd.DataFrame(x,columns=x2.columns).set_index(x2.index)
# x
# ----------
# from sklearn.decomposition import PCA
  
# pca = PCA(
#     n_components = 5
#           )
# pca_components=pca.fit_transform(x.dropna())
# principal_df=pd.DataFrame(pca_components,
#                           columns=['pca 1','pca 2','pca 3','pc 4','pc 5']
#                           ).set_index(x.dropna().index)

# principal_df

# ---
# principal_df.shape
# ----
# pca.explained_variance_
# pca.explained_variance_ratio_
# ---
# np.cumsum(pca.explained_variance_ratio_)


# -----
# loadings = pca.components_
# num_pc = pca.n_features_

# pc_list = ["PC"+str(i) for i in list(range(1, num_pc+1))]
# loadings_df = pd.DataFrame.from_dict(dict(zip(pc_list, loadings)))
# loadings_df['variable'] = x.columns.values
# loadings_df = loadings_df.set_index('variable')
# loadings_df

# ----
# pd.DataFrame(data=pca.explained_variance_ratio_*100,columns=['Principal Componenets'],index=pc_list
# ).plot.bar()


((df/df.shift(1))-1).round(2)

,1 Mo,2 Mo,3 Mo,6 Mo,1 Yr,2 Yr,3 Yr,5 Yr,7 Yr,10 Yr,20 Yr,30 Yr
Date,,,,,,,,,,,,
01/03/2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
01/04/2022,0.20,-0.17,0.00,0.00,-0.05,-0.01,-0.02,0.00,0.01,0.02,0.02,0.03
01/05/2022,-0.17,0.20,0.12,0.00,0.08,0.08,0.08,0.04,0.03,0.03,0.01,0.01
01/06/2022,-0.20,-0.17,0.11,0.05,0.10,0.06,0.05,0.03,0.02,0.01,0.00,0.00
01/07/2022,0.25,0.00,0.00,0.04,-0.04,-0.01,0.02,0.02,0.02,0.02,0.01,0.01
...,...,...,...,...,...,...,...,...,...,...,...,...
12/19/2022,0.00,0.00,0.01,0.01,0.01,0.02,0.02,0.02,0.03,0.03,0.02,0.03
12/20/2022,-0.02,-0.00,-0.00,-0.00,0.00,0.00,0.01,0.02,0.03,0.03,0.03,0.03
12/21/2022,0.00,0.00,-0.00,-0.01,-0.01,-0.01,-0.01,-0.00,-0.00,-0.00,-0.00,0.00
12/22/2022,-0.03,-0.01,0.00,-0.00,0.01,0.01,0.00,0.00,0.00,-0.00,-0.01,-0.00
12/23/2022,0.00,0.00,-0.00,0.00,0.00,0.02,0.02,0.02,0.02,0.02,0.02,0.02

In [39]:
effective_returns=df.pct_change(1).round(2)[1:]
effective_returns

,1 Mo,2 Mo,3 Mo,6 Mo,1 Yr,2 Yr,3 Yr,5 Yr,7 Yr,10 Yr,20 Yr,30 Yr
Date,,,,,,,,,,,,
01/04/2022,0.20,-0.17,0.00,0.00,-0.05,-0.01,-0.02,0.00,0.01,0.02,0.02,0.03
01/05/2022,-0.17,0.20,0.12,0.00,0.08,0.08,0.08,0.04,0.03,0.03,0.01,0.01
01/06/2022,-0.20,-0.17,0.11,0.05,0.10,0.06,0.05,0.03,0.02,0.01,0.00,0.00
01/07/2022,0.25,0.00,0.00,0.04,-0.04,-0.01,0.02,0.02,0.02,0.02,0.01,0.01
01/10/2022,0.00,0.20,0.30,0.17,0.07,0.06,0.03,0.02,0.01,0.01,0.00,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...
12/19/2022,0.00,0.00,0.01,0.01,0.01,0.02,0.02,0.02,0.03,0.03,0.02,0.03
12/20/2022,-0.02,-0.00,-0.00,-0.00,0.00,0.00,0.01,0.02,0.03,0.03,0.03,0.03
12/21/2022,0.00,0.00,-0.00,-0.01,-0.01,-0.01,-0.01,-0.00,-0.00,-0.00,-0.00,0.00
12/22/2022,-0.03,-0.01,0.00,-0.00,0.01,0.01,0.00,0.00,0.00,-0.00,-0.01,-0.00
12/23/2022,0.00,0.00,-0.00,0.00,0.00,0.02,0.02,0.02,0.02,0.02,0.02,0.02

In [38]:
log_returns=np.log(df/df.shift(1)).round(2)[1:]
log_returns

,1 Mo,2 Mo,3 Mo,6 Mo,1 Yr,2 Yr,3 Yr,5 Yr,7 Yr,10 Yr,20 Yr,30 Yr
Date,,,,,,,,,,,,
01/04/2022,0.18,-0.18,0.00,0.00,-0.05,-0.01,-0.02,0.00,0.01,0.02,0.02,0.03
01/05/2022,-0.18,0.18,0.12,0.00,0.08,0.08,0.08,0.04,0.03,0.03,0.01,0.01
01/06/2022,-0.22,-0.18,0.11,0.04,0.09,0.06,0.04,0.03,0.02,0.01,0.00,0.00
01/07/2022,0.22,0.00,0.00,0.04,-0.05,-0.01,0.02,0.02,0.02,0.02,0.01,0.01
01/10/2022,0.00,0.18,0.26,0.15,0.07,0.06,0.03,0.02,0.01,0.01,0.00,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...
12/19/2022,0.00,0.00,0.01,0.01,0.01,0.02,0.02,0.02,0.02,0.03,0.02,0.03
12/20/2022,-0.02,-0.00,-0.00,-0.00,0.00,0.00,0.01,0.02,0.03,0.03,0.03,0.03
12/21/2022,0.00,0.00,-0.00,-0.01,-0.01,-0.01,-0.01,-0.00,-0.00,-0.00,-0.00,0.00
12/22/2022,-0.03,-0.01,0.00,-0.00,0.01,0.01,0.00,0.00,0.00,-0.00,-0.01,-0.00
12/23/2022,0.00,0.00,-0.00,0.00,0.00,0.02,0.02,0.02,0.02,0.02,0.02,0.02

In [42]:
features= log_returns
x=features
x2=x

In [46]:
# from sklearn.preprocessing import StandardScaler,MinMaxScaler


# x=MinMaxScaler().fit_transform(x)
# x=pd.DataFrame(x,columns=x2.columns).set_index(x2.index)
# x
# --------


from sklearn.preprocessing import StandardScaler,MinMaxScaler

x=MinMaxScaler().fit_transform(x)
x_df=pd.DataFrame(x,index=features.index)
x_df

,0,1,2,3,4,5,6,7,8,9,10,11
Date,,,,,,,,,,,,
01/04/2022,0.540373,0.149533,0.283333,0.350,0.176471,0.307692,0.347826,0.45,0.529412,0.588235,0.666667,0.714286
01/05/2022,0.316770,0.485981,0.483333,0.350,0.558824,0.653846,0.782609,0.65,0.647059,0.647059,0.583333,0.571429
01/06/2022,0.291925,0.149533,0.466667,0.450,0.588235,0.576923,0.608696,0.60,0.588235,0.529412,0.500000,0.500000
01/07/2022,0.565217,0.317757,0.283333,0.450,0.176471,0.307692,0.521739,0.55,0.588235,0.588235,0.583333,0.571429
01/10/2022,0.428571,0.485981,0.716667,0.725,0.529412,0.576923,0.565217,0.55,0.529412,0.529412,0.500000,0.500000
...,...,...,...,...,...,...,...,...,...,...,...,...
12/19/2022,0.428571,0.317757,0.300000,0.375,0.352941,0.423077,0.521739,0.55,0.588235,0.647059,0.666667,0.714286
12/20/2022,0.416149,0.317757,0.283333,0.350,0.323529,0.346154,0.478261,0.55,0.647059,0.647059,0.750000,0.714286
12/21/2022,0.428571,0.317757,0.283333,0.325,0.294118,0.307692,0.391304,0.45,0.470588,0.470588,0.500000,0.500000
12/22/2022,0.409938,0.308411,0.283333,0.350,0.352941,0.384615,0.434783,0.45,0.470588,0.470588,0.416667,0.500000
12/23/2022,0.428571,0.317757,0.283333,0.350,0.323529,0.423077,0.521739,0.55,0.588235,0.588235,0.666667,0.642857

In [75]:
from sklearn.decomposition import PCA

pca=PCA().fit_transform(x_df)
pca

principal_df=pd.DataFrame(pca,
                          columns=log_returns.columns,
                          index=x_df.index)
principal_df

,1 Mo,2 Mo,3 Mo,6 Mo,1 Yr,2 Yr,3 Yr,5 Yr,7 Yr,10 Yr,20 Yr,30 Yr
Date,,,,,,,,,,,,
01/04/2022,0.057589,-0.341455,0.106226,-0.016419,0.147912,-0.051514,0.009033,-0.020708,-0.060386,-0.060840,-0.005276,0.007216
01/05/2022,0.483626,0.265206,-0.120050,0.019510,-0.156085,-0.005404,0.179820,0.038138,-0.000606,0.012172,0.061805,-0.009790
01/06/2022,0.254628,0.230923,-0.217511,-0.052706,0.180432,0.038481,0.158524,0.061441,0.006741,-0.008850,-0.026934,0.000296
01/07/2022,0.122362,-0.130356,0.073314,0.077201,0.047592,-0.162141,-0.108573,-0.073470,-0.024716,0.031306,0.038107,-0.021179
01/10/2022,0.282655,0.500371,0.187915,-0.132449,0.097032,-0.056155,0.039292,-0.010433,-0.018615,-0.040822,-0.014519,-0.008396
...,...,...,...,...,...,...,...,...,...,...,...,...
12/19/2022,0.283753,-0.140348,0.008549,-0.031914,-0.008330,0.010580,0.014333,0.003420,-0.051689,-0.019775,0.022007,-0.016538
12/20/2022,0.293729,-0.236327,0.027979,-0.067244,-0.019044,-0.015703,-0.014474,0.020642,0.018304,0.009232,-0.002377,0.013955
12/21/2022,-0.105318,-0.073723,-0.003536,-0.007734,-0.014968,-0.031908,-0.007147,0.024327,0.010067,-0.003199,-0.019259,-0.003943
12/22/2022,-0.087389,0.021517,-0.063370,0.015495,-0.002155,0.001798,0.004962,0.034082,-0.049520,-0.021500,-0.004639,0.006945
12/23/2022,0.224664,-0.131462,-0.017712,-0.004792,-0.022754,-0.013794,0.024581,-0.031637,-0.004805,-0.006268,0.001685,0.003579

In [76]:
principal_df.shape

pca.explained_variance_

np.cumsum(pca.explained_variance_ratio_)

AttributeError: ignored

In [78]:
principal_df.explained_variance_ratio_

AttributeError: ignored