In [1]:
import numpy as np
import pandas as pd

In [2]:
from riskcap import Validation

In [7]:
data = pd.read_csv('PnL.csv', index_col = 'Date')
data.head()

             APL        HPL       RTPL         VaR
Date
7-Feb-20  -45.05 -45.156212 -47.306185  146.179305
10-Feb-20  72.05  72.497837  52.639041  142.781824
11-Feb-20  51.55  51.157862  65.473693  152.921769
12-Feb-20 -32.10 -32.061265 -19.325282  155.713285
13-Feb-20 -31.25 -31.614443 -44.362787  151.324387

In [8]:
test = Validation(data)

In [9]:
test.fit()

In [10]:
test.summary()

Backtesting results:

,(Exceedances #)APL,(Exceedances #)HPL,(Exceedances #)Max,Zone,Multiplier
0,3,4,4,Green,1.5

PLAT results:

   spearman correl    KS   Zone
0         0.929587  0.08  Green