In [1]:
import matplotlib.pyplot as plt
import yfinance as yf
import numpy as np
import pandas as pd

In [5]:
# Donwload closing price data for Apple, Tesla, Google, MicroSoft

prices = yf.download(['AAPL','TSLA','GOOG','MSFT'], progress = False, period = '1y', interval = '1d')['Adj Close']
prices.head()

                  AAPL        GOOG        MSFT        TSLA
Date
2022-06-17  130.779099  107.865501  245.279083  216.759995
2022-06-21  135.063492  112.014999  251.310791  237.036667
2022-06-22  134.546616  112.033997  250.706619  236.086670
2022-06-23  137.449265  112.684502  256.381775  235.070007
2022-06-24  140.819153  118.538002  265.137115  245.706665

In [10]:
# Fetch the holdings data
holdings = pd.read_csv('Position.csv')
holdings

   AAPL  GOOG  MSFT  TSLA
0   100     0     0     0
1     0   -20     0     0
2     0     0   120     0
3     0     0     0   -50

In [11]:
# Calculate the dollar sensitivities ( holdings * spot price)
dollar_sensitivities = holdings*(prices.iloc[-1,:])
dollar_sensitivities

           AAPL         GOOG          MSFT          TSLA
0  18491.999817     0.000000      0.000000      0.000000
1      0.000000 -2481.199951      0.000000      0.000000
2      0.000000     0.000000  41079.598389      0.000000
3      0.000000     0.000000      0.000000 -13027.000427

In [12]:
from riskcap import VaR, ES

In [13]:
model = VaR(dollar_sensitivities, prices, horizon = 1, methodology='historical', confidence=0.95 )

In [14]:
model.fit()

In [15]:
model.VaR

1330.1528047389977

In [16]:
model = VaR(dollar_sensitivities, prices, horizon = 1, methodology='parametric', confidence=0.99 )

In [17]:
model.fit()

In [18]:
model.VaR

2241.1724981140696

In [19]:
model = ES(dollar_sensitivities, prices, horizon = 1, methodology='historical', confidence=0.95 )

In [20]:
model.fit()

In [21]:
model.ES

1885.1687097649108

In [22]:
model = ES(dollar_sensitivities, prices, horizon = 1, methodology='parametric', confidence=0.975 )

In [23]:
model.fit()

In [24]:
model.ES

2252.2080134108555